ellipsis($width = 100%, $line-clamp = 1)
  width $width
  display -webkit-box
  // -webkit-line-clamp CSS3 属性用于设置多行文本溢出
  -webkit-line-clamp $line-clamp
  -webkit-box-orient vertical
  overflow hidden
